<table id="tablaEstadisticas">
  <tr>
    <td>Sólo comentarios publicados:</td>
  </tr>
  <tr>
    <td class="titFila">Número de preguntas:</td>
    <td><%= numPreguntas %></td>
  </tr>
  <tr>
    <td class="titFila">Número de comentarios:</td>
    <td><%= numComentariosPublic %></td>
  </tr>
  <tr>
    <td class="titFila">Media de comentarios por pregunta:</td>
    <td><%= mediaComentariosPublicPorPregunta %></td>
  </tr>
  <tr>
    <td class="titFila">Número de preguntas sin comentarios:</td>
    <td><%= pregSinComentPublic %></td>
  </tr>
  <tr>
    <td class="titFila">Número de preguntas con comentarios:</td>
    <td><%= pregConComentPublic %></td>
  </tr>
  <tr>

  </tr>
  <tr>
    <td>Todos los comentarios:</td>
  </tr>
  <tr>
    <td class="titFila">Número de preguntas:</td>
    <td><%= numPreguntas %></td>
  </tr>
  <tr>
    <td class="titFila">Número de comentarios:</td>
    <td><%= numComentariosTot %></td>
  </tr>
  <tr>
    <td class="titFila">Media de comentarios por pregunta:</td>
    <td><%= mediaComentariosPorPreguntaTot %></td>
  </tr>
  <tr>
    <td class="titFila">Número de preguntas sin comentarios:</td>
    <td><%= pregSinComentTot %></td>
  </tr>
  <tr>
    <td class="titFila">Número de preguntas con comentarios:</td>
    <td><%= pregConComentTot %></td>
  </tr>
</table>
